CREATE DATABASE IF NOT EXISTS testdb;
CREATE USER IF NOT EXISTS '{{ .TESTDB_USER }}'@'%' IDENTIFIED BY '{{ .TESTDB_PASSWORD }}';
GRANT ALL PRIVILEGES ON testdb.* TO '{{ .TESTDB_USER }}'@'%';
FLUSH PRIVILEGES;

-- vim:set syntax=sql:
